<html>
<head>
<title>{{.Opts.Title}} | {{DateFormat .TimeFrom "2006/1/2 15:04"}}, +{{.Opts.Duration}}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <h1>
			{{.Opts.Title}}&nbsp;<small class="text-muted">From {{DateFormat .TimeFrom "2006/1/2 15:04"}}, +{{.Opts.Duration}}</small>
		</h1>

    <br>

    {{if .Extras}}
      <h3>Extra</h3>
      <div id="cronv-extra" style="width:{{.Opts.Width}}%;">
        <dl class="row">
          {{range $index, $extra := .Extras}}
            <dt class="col-sm-1">{{$extra.Label}}</dt>
            <dd class="col-sm-11">{{$extra.Job}}</dd>
          {{end}}
        </dl>
      </div>
      <hr>
    {{end}}

    <h3>Timeline<h3>
    <div id="cronv-timeline" style="height:100%; width:{{.Opts.Width}}%;">
      <b>Loading...</b>
    </div>
  </div>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="graph.js"></script>
</body>
</html>